
/* apply a natural box layout model to all elements */
*, *:before, *:after { -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; box-sizing: border-box;
}

html {
	overflow-y: scroll;
}


.pgrid-wrap {
	position: relative;
	margin: 40px auto;
	max-width: 620px;
	font-family: $sans;
}


// HEADER
// =============================================

.pgrid-header {
	margin-bottom: 25px;
}

.pgrid-hed {
	margin: 0 0 3px;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	font-weight: 500;
	font-size: 44px;
	font-family: $condensed;
	line-height: 100%;
}

.pgrid-sponsor {
	margin: 0 0 10px 0;
	font-weight: 500;
	font-size: 18px;
	font-family: $slab;
}

.pgrid-intro p {
	margin-bottom: 10px;
	color: $dark-gray;
	font-size: 15px;
	line-height: 140%;
}




// GRID
// =============================================

.pgrid {
	@include pie-clearfix;
	margin: 0 auto;
	padding: 20px 20px 0 20px;
	width: 100%;
	background-image: url("/img/stripes2.png");
	list-style: none;
	text-align: center;
}

.pgrid-item {
	display: inline-block;
	padding: 0 5px 20px;
	height: auto;
	vertical-align: top;
	text-align: center;
}

.pgrid-teaser-wrap {
	position: relative;
	width: 150px;
	cursor: pointer;
}

.pgrid-image-wrap {
	overflow: hidden;
	margin: 0 auto 5px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: $light-gray;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.pgrid-image {
	@include transition(0.2s all ease-in-out, 0.2s opacity ease-in-out);
	max-width: 100%;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.pgrid-item-inactive .pgrid-image {
	opacity: .65;
	-webkit-filter: grayscale(70%);
		-ms-filter: grayscale(70%);
		filter: grayscale(70%);
		-moz-filter: grayscale(70%);
		-o-filter: grayscale(70%);
}

.pgrid-item-active .pgrid-image {
	opacity: 1;
	-webkit-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-o-filter: grayscale(0%);
}

.pgrid-expanded > .pgrid-teaser-wrap:after,
.pgrid-expanded > .pgrid-teaser-wrap:before {
    position: absolute;
	left: 50%;
	margin: -15px 0 0 -15px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 15px;
	content: "";
	pointer-events: none;
}

.pgrid-expanded > .pgrid-teaser-wrap:after {
    bottom: -30px;
    z-index: 1;
    border-color: transparent transparent white transparent;
}

.pgrid-expanded > .pgrid-teaser-wrap:before {
    bottom: -27px;
    border-color: transparent transparent black transparent;
}​

.pgrid-image {
	width: 100%;
}

.pgrid-close {
	@include input-default;
	@include transition(0.2s color ease-in-out, 0.2s border-color ease-in-out);
	@include absolute(20px 20px n n);
	z-index: 1;
	margin: 0;
	padding: 0 0 2px 0;
	width: 20px;
	height: 20px;
	border: 2px solid $light-gray;
	border-radius: 50%;
	background-color: white;
	color: $light-gray;
	font-size: 10px;
	cursor: pointer;
	&:hover {
		border-color: $txt-black;
		background-color: white;
		color: $txt-black;
	}
	@media (min-width: $small) {
		top: 29px;
		right: 30px;
	}
}

.pgrid-expander {
	position: absolute;
	top: auto;
	left: 0;
	display: none;
	overflow: hidden;
	margin: 20px 10px;
	height: 0;
	border: 2px solid black;
	text-align: left;
	@media (min-width: $small) {
		margin: 22px 20px;
	}
}

.pgrid-expander-inner {
	padding: 20px;
	height: 100%;
	background-color: white;
	@media (min-width: $small) {
		padding: 30px;
	}
}

.pgrid-details {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.pgrid-details > .p-name {
	margin-bottom: 10px;
}




// COPY
// =============================================

.p-name {
	margin: 0 0 1px 0;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	font-weight: 500;
	font-size: 18px;
	font-family: $slab;
	line-height: 100%;
}

.p-job {
	margin: 0 0 5px;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	font-size: 12px;
	font-family: $sans;
	line-height: 120%;
	a {
		@include trans(0.2s, color, ease-in-out);
		font-weight: 500;
		text-decoration: none;
		color: $med-gray;
	}
	a:hover {
		color: $txt-black;
	}
}

.p-twitter {
	margin: 0 0 5px;
}

.p-description {
	margin: 0;
	color: $dark-gray;
	font-size: 14px;
	line-height: 140%;
	@media (min-width: $small) {
		font-size: 15px;
	}
}

